body {
  font-family: 'Source Code Pro', monospace;
}

.navbar {
  text-transform: uppercase;
  opacity: 0.7;
}

.language { /* Language exchage */
  font-size: 15px;
  text-align: center;
}

/* Footer */
.fixed-bottom {
  background-color: #343a40;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  opacity: 0.7;
}

.fixed-bottom p {
  color: #9e9e9e;
  font-style: italic;
  font-size: 15px;
  text-align: center;
  margin: 10px;
}

/* Background image */

html {
  height: 100vp;
  background: url('../../assets/images/main-page.jpg') no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-position: center;
  background-repeat: no-repeat; */
  background-color: #3339405e;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Logo image center of page
.logo-img {
  opacity: 1;
  display:  flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 30%;
} */
