body {
  font-family: 'Source Code Pro', monospace;
}

.nav-item {
  text-transform: uppercase;
}

footer {
  color: #9e9e9e;
  position: fixed;
  padding-left: 5%;
  font-style: italic;
  font-size: 15px;
}

.main-page {
  background-image: url('../../assets/images/main-page.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-color: #C4C3C3;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.7;
}
/* Logo image center of page */
.logo-img {
  opacity: 1;
  display:  flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 30%;
}
