@import url('https://fonts.googleapis.com/css?family=Poiret+One|Exo|Roboto&display=swap');

.main-page {
  font-family: 'Exo', sans-serif;
  background-color: white;
}

.navbar {
  text-transform: uppercase;
  opacity: 0.7;
}

/* Footer */

footer {
  color: #343a40;
  font-style: italic;
  text-align: center;
  padding-top: 50px;
}

/* Background image */

.container-fluid .main-image {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Facts of main page */

.container-fluid .tattoo-facts {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  background-color: white;
    opacity: 0.9;

  color: #343a40;
}

.tattoo-facts img {
  height: 40px;
  width: 40px;
}

.tattoo-facts p{
  padding-top: 15px;
}

/* Testimonials */
.quotes {
  padding-top: 100px;
}

.page-header {
  text-align: center;
  padding-bottom: 10px;
  color: #343a40;
}

.media {
  padding-top: 20px;
  color: #343a40;
}

/* celebrity quote */

.quote {
  margin-top: -550px;
  background-color: grey;
   opacity: 0.6;
   color:white;
   border-radius:5px;
   font-size:1.4em;
  padding-left: 20px;
  padding-right: 20px;

  font-family: 'Poiret One', cursive;

  position: absolute; /* Tip from Love Running tutorial*/
}

@media only screen and (max-width: 1080px) {
  .quote {
    margin-top: -400px;
  }
}

@media only screen and (max-width: 800px) {
  .quote {
    display: none;
  }
}
